[Desktop Entry]
Encoding=UTF-8
Name=Link to "Complete ASCII list of symbols" by barnsis | Redbubble
Type=Link
URL=https://www.redbubble.com/people/barnsis/journal/3570534-complete-ascii-list-of-symbols
Icon=text-html
