[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino Wireless Communication - NRF24L01 Tutorial - HowToMechatronics
Type=Link
URL=https://howtomechatronics.com/tutorials/arduino/arduino-wireless-communication-nrf24l01-tutorial/
Icon=text-html
