[Desktop Entry]
Encoding=UTF-8
Name=Link to How I2C Communication Works & How To Use It with Arduino
Type=Link
URL=https://howtomechatronics.com/tutorials/arduino/how-i2c-communication-works-and-how-to-use-it-with-arduino/
Icon=text-html
