[Desktop Entry]
Encoding=UTF-8
Name=Link to [C++][Newbie]How to use 'usb.h'
Type=Link
URL=https://ubuntuforums.org/showthread.php?t=1063162
Icon=text-html
