[Desktop Entry]
Encoding=UTF-8
Name=Link to Development: How to develop drivers for USB based devices - LinuxTVWiki
Type=Link
URL=https://linuxtv.org/wiki/index.php/Development:_How_to_develop_drivers_for_USB_based_devices
Icon=text-html
