[Desktop Entry]
Encoding=UTF-8
Name=Link to Writing a Simple USB Driver | Linux Journal
Type=Link
URL=https://www.linuxjournal.com/article/7353
Icon=text-html
