[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino sketch to read the MAC address from a AT24MAC402 · GitHub
Type=Link
URL=https://gist.github.com/njh/9463299
Icon=text-html
