[Desktop Entry]
Encoding=UTF-8
Name=Link to How to implement mouse drivers Linux USB mouse driver? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/15322892/how-to-implement-mouse-drivers-linux-usb-mouse-driver
Icon=text-html
