[Desktop Entry]
Encoding=UTF-8
Name=Link to Which drivers are used by usb mouse in linux kernel? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/25175960/which-drivers-are-used-by-usb-mouse-in-linux-kernel
Icon=text-html
